# See docs/Config_Reference.md for a description of parameters.

[include macros.cfg]
[include custom_macros.cfg]
[include homing_override.cfg]

[gcode_arcs]
resolution: 0.1


###################################################################################################################################################
###################################################################################################################################################
###################################################################################################################################################


[printer]
kinematics: cartesian

max_velocity:200
max_accel:20000

max_z_velocity:5
max_z_accel:500

minimum_cruise_ratio: 0

square_corner_velocity: 5.0


###################################################################################################################################################
###################################################################################################################################################
###################################################################################################################################################




#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

[virtual_sdcard] 
path: ~/gcode_files

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_3E0023000E47323236333832-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
########################
########################


###################################################################################################################################################
#################################### setting klipper stepper stuff ####################################
###################################################################################################################################################

[stepper_x]
step_pin:PC5
dir_pin:PC4             # chuck an ! if you need to flip
enable_pin:!PB0
rotation_distance:40
microsteps:32
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100 #can maybe remove idk

endstop_pin:

position_min: 0
position_endstop:120
position_max:120

homing_speed: 5.0
homing_retract_dist: 0.0
#homing_retract_speed:
second_homing_speed:2

[stepper_x1]
step_pin:PA5
dir_pin:PA4          # chuck an ! if you need to flip
enable_pin:!PA6
rotation_distance:40
microsteps:32
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100 #can maybe remove idk


[stepper_y]
step_pin:PA1
dir_pin:PA0             # chuck an ! if you need to flip
enable_pin:!PA2
rotation_distance:40
microsteps:32
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100 #can maybe remove idk

endstop_pin:

position_min: 0
position_max:180 # might be able to be set to 186
position_endstop:180

homing_speed: 5.0
homing_retract_dist: 0.0
second_homing_speed:2


[stepper_y1]
step_pin:PC14
dir_pin: PC13           # chuck an ! if you need to flip
enable_pin:!PC15
rotation_distance:40
microsteps:32
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100 #can maybe remove idk



[stepper_z]
step_pin: PB10            # chuck an ! if you need to flip
dir_pin:PB2
enable_pin:!PB11
rotation_distance:40
gear_ratio:90:20 #90t big pulley on bed, 20t pulley on motor
microsteps:32
full_steps_per_rotation: 200
step_pulse_duration: 0.000000100 #can maybe remove idk

endstop_pin:

position_min: 0
position_endstop:100
position_max:100

homing_speed: 5.0
homing_retract_dist: 0.0

###################################################################################################################################################
############### EXTRUDER ########################
###################################################################################################################################################

[extruder]
step_pin: PC12
dir_pin: PB5
enable_pin: !PC11
microsteps: 16
rotation_distance: 25.12
Gear_ratio: 44:10  , 37:18  # if this doesnt work just enter  407:45 or 9.0444

nozzle_diameter: 0.4
filament_diameter: 1.750

heater_pin: 
sensor_type: 
sensor_pin: 

control: pid
pid_Kp:
pid_Ki:
pid_Kd:
min_temp: 0
max_temp: 400
full_steps_per_rotation: 200
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 10000
min_extrude_temp: 180
pressure_advance: 0.02
pressure_advance_smooth_time: 0.03


###################################################################################################################################################
#################################### setting tmc stepper stuff , MOTOR CURRENTS ####################################
###################################################################################################################################################

[tmc5160 stepper_x] 
#spi_bus: 
cs_pin: PA7
#diag_pin: 
interpolate: false
run_current: 2
hold_current:1.9
stealthchop_threshold:0

sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3 
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[tmc5160 stepper_x1] 
#spi_bus: 
cs_pin: PA3
#diag_pin: 
interpolate: false
run_current: 2
hold_current:1.9
stealthchop_threshold:0

sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3 
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[tmc5160 stepper_y] 
#spi_bus: 
cs_pin: PC3
#diag_pin: 
interpolate: false
run_current: 2
hold_current:1.9
stealthchop_threshold:0

sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3 
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[tmc5160 stepper_y1] 
#spi_bus: 
cs_pin: PB7
#diag_pin: 
interpolate: false
run_current: 2
hold_current:1.9
stealthchop_threshold:0

sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[tmc2209 stepper_z]
interpolate: false
uart_pin: PB1
run_current: 1.2
hold_current:0.4
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PB6
interpolate: false
run_current: 0.7
stealthchop_threshold:0

sense_resistor: 0.110




#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.052500, -0.032500, 0.186250
#*# 	0.053750, -0.070000, 0.233750
#*# 	0.182500, 0.037500, 0.240000
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 50.0
#*# x_count = 3
#*# max_y = 200.0
#*# mesh_x_pps = 2
#*# max_x = 170.0
#*#
#*# [bed_mesh name]
#*# version = 1
#*# points =
#*# 	0.052500, -0.032500, 0.186250
#*# 	0.053750, -0.070000, 0.233750
#*# 	0.182500, 0.037500, 0.240000
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 50.0
#*# x_count = 3
#*# max_y = 200.0
#*# mesh_x_pps = 2
#*# max_x = 170.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.635
#*# pid_ki = 0.685
#*# pid_kd = 101.059
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.254
#*# pid_ki = 1.667
#*# pid_kd = 740.301
